body {
    margin: 0;
    margin-top: 16px;
    height: 100%;
    min-height: 100%;
}

.google-logo {
    display: block;
    margin: auto;
}

.main-box {
    margin: auto;
    margin-top: 140px;
    max-width: 584px;
    min-width: 300px;
    width: auto;
    position: relative;
}

.search-bar {
    height: 46px;
    margin-top: 20px;
    padding-left: 40px;
    width: 100%;
    border: 1px solid #dfe1e5;
    border-radius: 23px;
    box-sizing: border-box;
    font: 16px Arial;
}

.search-bar:hover {
    box-shadow: 0px 0px 5px 1px #e0e0e0;
}

.search-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 125px;
    left: 15px;
    z-index: 5;
    fill: #9aa0a6;
}

.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 18px;
}

.button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-family: Arial;
    font-size: 14px;
    height: 36px;
    padding: 0 16px;
    margin: 11px 5px;
    color: #5F6368;
    cursor: pointer;
}

.button:hover {
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1)
}

.button1 {
    float: right;
}

.button2 {
    float: left;
}

/* navbar */
.navbar {
    height: 40px;
    display: flex;
}

.navbar-item {
    width: auto;
    height: 100%;
    display: flex;
    padding-left: 15px;
}

.navbar-left {
    display: flex;
    margin: 7px 0 0 10px;
}

.navbar-right {
    display: flex;
    margin: 7px 0 0 auto;
    padding: 0 30px;
}

.navbar-link {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    font: 13px arial;
}

.navbar-link:hover {
    text-decoration: underline;
}

.sign-in-form {
    margin-top: -7px;
}

.sign-in-button {
    color: #fff;
    background-color: #4285f4;
    padding: 0 12px;
    border: 1px solid #4285f4;
    border-radius: 2px;
    height: 30px;
    font: 13px arial;
    font-weight: bold;
}

/* footer */
.footer {
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    height: 40px;
    width: 100%;
    bottom: 0;
    position: fixed;
    display: flex;
}

.footbar-left {
    display: flex;
    margin: 12px 0 0 3px;
}

.footbar-right {
    display: flex;
    margin: 12px 0 0 auto;
    padding: 0 30px;
}

.footbar-item {
    width: auto;
    height: 100%;
    display: flex;
    padding-left: 27px;
}

.footbar-link {
    text-decoration: none;
    color: #5f6368;
    font: 14px arial;
}

.footbar-link:hover {
    text-decoration: underline;
}